* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.MainContainer {
  display: flex;
  flex-direction: row;
}

.GenAndButtons {
  text-align: center;
}
h3 {
  margin: 0.3rem 6.5rem;
}

button {
  margin: 0 0.5rem;
  width: 15%;
}

/* Rules Component */
.RulesContainer {
  width: 100%;
  margin: 5rem 0 0 0;

  align-items: center;
}
li {
  list-style-position: inside;
  margin: 0.5rem 0 0 0;
  text-indent: 1rem;
  font-size: 0.75rem;
}
